<nav id="navbar" class="navbar">
    <div class="navbar-brand">
        <a href="#top" class="brand-link">Faz Forward</a>
    </div>
    <div class="navbar-menu">
        <ul class="navbar-nav">
            <li><a href="#top" class="nav-link">Home</a></li>
            <li><a href="#second-page" class="nav-link">About</a></li>
            <li><a href="#third-page" class="nav-link">Services</a></li>
            <li><a href="#fourth-page" class="nav-link">Contact</a></li>
        </ul>
    </div>
    <div class="navbar-toggle" id="navbar-toggle">
        <span></span>
        <span></span>
        <span></span>
    </div>
</nav>