<section id="second-page" class="section-fullscreen light-grey-section">
    <div class="content">
        <h1 class="animated">Who am I?</h1>
        <p class="animated">I'm a creative professional with experience in 4 fields: Tech, Business, Finance, and Media. As a result, I have a diverse and holistic understanding of anything I decided to get into.</p>
        <p class="animated">I've operated various social media accounts, a full-blown content production (planning, writing, directing, animating, voiceover, editing), a crypto arbitrage operation, and the good old freelancing gigs.</p>
        <p class="animated">In other words, a well-rounded team player who loves to bridge different tribes: Technical wizards to regular Joes. Idealists to pragmatists. Number crunchers to artists. Well-established veterans to innovative newcomers.</p>
        <p class="animated">So, if you need someone who can understand the big picture, resourceful, adaptable, and able to think out of the box… I'm your guy!</p>
        <div class="button-container animated">
            <a href="#" class="action-button">See the stuff I make</a>
        </div>
    </div>
</section>