<section id="top" class="section-fullscreen">
    <div id="wrapper">
        <div id="bg"></div>
        <div id="overlay"></div>
        <div id="main">
            <header id="header">
                <h1>Hi, I'm Faz!</h1>
                <p>Check out some of my work below, or scroll down and hear my story.</p>
                <nav>
                    <ul class="centered-icons">
                        <li><a href="https://www.youtube.com/@forwardfaz" class="icon brands fa-youtube"><span class="label">YouTube</span></a></li>
                        <li><a href="https://medium.com/@forwardfaz" class="icon brands fa-medium-m"><span class="label">Medium</span></a></li>
                        <li><a href="https://github.com/fazforward" class="icon brands fa-github"><span class="label">Github</span></a></li>
                    </ul>
                </nav>
            </header>

            <div class="scroll-arrow-container">
                <div class="scroll-arrow" onclick="scrollToSection('second-page')">
                    <svg width="40" height="60" viewBox="0 0 40 60" fill="none" stroke="#444" stroke-width="3" stroke-linecap="round" stroke-linejoin="round">
                        <line x1="20" y1="5" x2="20" y2="45"></line>
                        <polyline points="8 33 20 45 32 33"></polyline>
                    </svg>
                </div>
            </div>
        </div>
    </div>
</section>