/* Remove background and overlays */
#bg {
  background: white;
}

#overlay {
  background: transparent;
}

/* Text color */
body,
#header h1,
#header p,
#header nav a,
#footer .copyright,
#footer .copyright a {
  color: #444;
}

/* Clear footer visuals */
#footer {
  background: transparent;
  box-shadow: none;
}
